.clients {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-background-grey);
    border: 1px solid var(--color-background-grey);
    border-radius: 4px;
    // outline: none;
    transition: border-color var(--transition-cubic), color var(--transition-cubic);
    height: 100%;
    width: 100%;
    &:hover {
      color: var(--color-accent);
      border-color: var(--color-accent);
    }
  }
  &__item {
    height: 92px;
    width: calc((100vw - 2 * 30px) / 2);
    @include for-size(mobile) {
      width: calc((100% - 30px) / 2);
    }
    @include for-size(tablet) {
      width: calc((100% - 2 * 30px) / 3);
    }
    @include for-size(desktop) {
      width: calc((100% - 5 * 30px) / 6);
    }
  }
}
