// breakpoints
$micro-mobile: 400px;
$mobile: 414px;
$tablet: 1024px;
$desktop: 1280px;

:root {
  // fonts
  --font-primary: 'Roboto', sans-serif;
  --font-primary-size: 16px;
  --font-secondary: 'Raleway', sans-serif;
  // colors
  --color-accent: #2196f3;
  --color-primary-white: #ffffff;
  --color-primary-black: #000000;
  --color-text-title: #212121;
  --color-text-primary: #757575;
  --color-background-dark: #2f303a;
  --color-background-grey: #afb1b8;
  --color-background-light: #c4c4c4;
  --color-background-lighter: #f5f4fa;
  --color-line: #ececec;
  // animations
  --transition-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
